# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
CheezePizza/bin/logs/**
CheezePizza/build/**
CheezePizza/linklib/**
CheezePizza/logs/*.log
CheezePizza/bin/*.ilk
CheezePizza/bin/hge.dll
CheezePizza/bin/hge.ilk
CheezePizza/bin/hge.pdb
CheezePizza/bin/esm.exe
CheezePizza/bin/esm.pdb
CheezePizza/bin/origins.exe
CheezePizza/bin/origins.pdb
CheezePizza/bin/papercraft.exe
CheezePizza/bin/papercraft.pdb
CheezePizza/bin/tetris.exe
CheezePizza/bin/tetris.pdb
RabbitHole/bin/**
RabbitHole/obj/**
RabbitHole/src/*.opensdf
RabbitHole/src/*.suo
RabbitHole/src/*.sdf
RabbitHole/src/rabbitholesrc/*.user
CheezePizza/bin/texasm.pdb
CheezePizza/bin/texasm.ilk
CheezePizza/bin/fontconv.exe
CheezePizza/bin/fontconv.ilk
CheezePizza/bin/papercraft.exe
CheezePizza/bin/papercraft.pdb
CheezePizza/bin/papercraft.pdb
CheezePizza/bin/papercraft.exe
CheezePizza/bin/hge.pdb
CheezePizza/bin/hge.ilk
CheezePizza/bin/hge.dll
CheezePizza/bin/papercraft.exe
CheezePizza/bin/papercraft.pdb
CheezePizza/bin/papercraft.pdb
CheezePizza/bin/papercraft.exe
CheezePizza/bin/hge.pdb
CheezePizza/bin/hge.ilk
CheezePizza/bin/hge.dll